# Day One of Arewa Data Science Python Challenge Exercises

# Exercise: Level 0ne

## 1. Check the python version you are using

In [2]:
!python --version

Python 3.10.12

## 2. Open the python interactive shell and do the following operations. The operands are 3 and 4.

##### Addition

In [3]:
print(3+4)

7

##### Subtraction

In [4]:
print(3-4)

-1

##### Multiplication

In [5]:
print(3*4)

12

##### Division

In [6]:
print(3/4)

0.75

##### Exponentiation

In [7]:
print(3**4)

81

##### Modulos

In [8]:
print(3 % 4)

3

##### Floor division

In [9]:
print(3//4)

0

## 3. Write strings on the python interactive shell. The strings are the following:

##### My Name: 'Adam Abbas Abba'

In [10]:
print('Adam Abbas Abba')

Adam Abbas Abba

##### My Family Name: 'Abba'

In [11]:
print('Abba')

Abba

##### My Country: 'Nigeria'

In [12]:
print('Nigeria')

Nigeria

##### I am enjoying 30 days of python

In [13]:
print('I am enjoying 30 days of python')

I am enjoying 30 days of python

## 4. Check the data types of the following data:

##### 10

In [14]:
print(type(10))

<class 'int'>

##### 9.8

In [15]:
print(type(9.8))

<class 'float'>

##### 3.14

In [16]:
print(type(3.14))

<class 'float'>

##### 4-4j

In [17]:
print(type(4-4j))

<class 'complex'>

##### Asabeneh, Python, Finland

In [18]:
print(type(['Asabeneh', 'Python', 'Finland']))

<class 'list'>

##### My Name

In [19]:
print(type('Adam Abbas Abba'))

<class 'str'>

##### My Family

In [20]:
print(type('Abba'))

<class 'str'>

##### My Country

In [21]:
print(type('Nigeria'))

<class 'str'>

# Level 3 exercise

## 1. Examples of Data Type

### Number;  Integer, Float, Complex

In [31]:
integer = 1
float =  1.5 
complex = 2 + 8j
print(integer)
print(float)
print(complex)

1
1.5
(2+8j)

### String

In [34]:
a = "AREWA"
print(a)

AREWA

### Boolean

In [35]:
a = True
print(a)

True

### List

In [36]:
a = ['Khalipha',9,1.5,True,False,['DataScientist']] 
print(a)

['Khalipha', 9, 1.5, True, False, ['DataScientist']]

### Tuples

In [37]:
a = ("Me","Good")
print(a)

('Me', 'Good')

### Set

In [38]:
a = {1,3,4,5}
print(a)

{1, 3, 4, 5}

### Dictionary

In [39]:
a = {'Python':3,'Today':1,'Year':2023}
print(a)

{'Python': 3, 'Today': 1, 'Year': 2023}