# Day One of Arewa Data Science Python Challenge Exercises

# Exercise: Level 0ne

## 1. Check the python version you are using

In [ ]:
python --version

## 2. Open the python interactive shell and do the following operations. The operands are 3 and 4.

##### Addition

In [ ]:
print(3+4)

##### Subtraction

In [ ]:
print(3-4)

##### Multiplication

In [ ]:
print(3*4)

##### Division

In [ ]:
print(3/4)

##### Exponentiation

In [ ]:
print(3**4)

##### Modulos

In [ ]:
print(3 % 4)

##### Floor division

In [ ]:
print(3//4)

## 3. Write strings on the python interactive shell. The strings are the following:

##### My Name: 'Adam Abbas Abba'

In [ ]:
print('Adam Abbas Abba')

##### My Family Name: 'Abba'

In [ ]:
print('Abba')

##### My Country: 'Nigeria'

In [ ]:
print('Nigeria')

##### I am enjoying 30 days of python

In [ ]:
print('I am enjoying 30 days of python')

## 4. Check the data types of the following data:

##### 10

In [ ]:
print(type(10))

##### 9.8

In [ ]:
print(type(9.8))

##### 3.14

In [ ]:
print(type(3.14))

##### 4-4j

In [ ]:
print(type(4-4j))

##### Asabeneh, Python, Finland

In [ ]:
print(type(['Asabeneh', 'Python', 'Finland']))

##### My Name

In [ ]:
print(type('Adam Abbas Abba'))

##### My Family

In [ ]:
print(type('Abba'))

##### My Country

In [ ]:
print(type('Nigeria'))

# Level 3 exercise

## 1. Examples of Data Type

### Number;  Integer, Float, Complex

In [ ]:
abc = 1, 1.5, i+2
print(abc)

### String

In [ ]:
a = AREWA
print(a)

### Boolean

In [ ]:
a = True
print(a)

### List

In [ ]:
a = ['Khalipha',9,1.5,True,False,['DataScientist']] 
print(a)

### Tuples

In [ ]:
a = ("Me","Good")
print(a)

### Set

In [ ]:
a = {1,3,4,5}
print(a)

### Dictionary

In [ ]:
a = {'Python':3,'Today':1,'Year':2023}
print(a)