# **Day 10: 30 Days of python programming**

# Exercises: Level 1

### 1. Iterate 0 to 10 using for loop, do the same using while loop.

In [1]:
for number in range(11):
    print(number)

number = -1
while number < 10:
    number +=1
    print(number)

0
1
2
3
4
5
6
7
8
9
10
0
1
2
3
4
5
6
7
8
9
10

### 2. Iterate 10 to 0 using for loop, do the same using while loop.

In [2]:
for i in range(10,-1,-1):
    print(i)


x = 11
while x > 0:
    x -= 1
    print(x)

10
9
8
7
6
5
4
3
2
1
0
10
9
8
7
6
5
4
3
2
1
0

### 3. Write a loop that makes seven calls to print(), so we get on the output the following triangle:

In [3]:
for i in range(8):
    print('#' * i)

#
##
###
####
#####
######
#######

### 4. Use nested loops to create the following:

In [4]:
for i in range(9):
    print('#  ' * 8)

#  #  #  #  #  #  #  #
#  #  #  #  #  #  #  #
#  #  #  #  #  #  #  #
#  #  #  #  #  #  #  #
#  #  #  #  #  #  #  #
#  #  #  #  #  #  #  #
#  #  #  #  #  #  #  #
#  #  #  #  #  #  #  #
#  #  #  #  #  #  #  #

### 5. Print the following pattern:

In [5]:
for i in range(11):
    print(f'{i} x {i} =  {i * i}')

0 x 0 =  0
1 x 1 =  1
2 x 2 =  4
3 x 3 =  9
4 x 4 =  16
5 x 5 =  25
6 x 6 =  36
7 x 7 =  49
8 x 8 =  64
9 x 9 =  81
10 x 10 =  100

### 6. Iterate through the list, ['Python', 'Numpy','Pandas','Django', 'Flask'] using a for loop and print out the items.

In [6]:
list = ['Python', 'Numpy','Pandas','Django', 'Flask']
for item in list:
    print(item)

Python
Numpy
Pandas
Django
Flask

### 7. Use for loop to iterate from 0 to 100 and print only even numbers

In [7]:
for i in range(101):
    if i%2 == 0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

### 8. Use for loop to iterate from 0 to 100 and print only odd numbers

In [8]:
for i in range(101):
    if i%2==1:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

# Exercises: Level 2

### 1. Use for loop to iterate from 0 to 100 and print the sum of all numbers

In [9]:
a = 0
for i in range(101):
    a += i
print(f'The sum of all numbers is {a}')

The sum of all numbers is 5050

### 2. Use for loop to iterate from 0 to 100 and print the sum of all evens and the sum of all odds

In [10]:
a = 0
b = 0
for i in range(101):
    if i%2 ==0:
        a += i
    else:
        b+=i
print(f'The sum of all evens is {a} and the sum of all odds is {b}')

The sum of all evens is 2550 and the sum of all odds is 2500

# Exercises: Level 3

### 1. Go to the data folder and use the countries.py file. Loop through the countries and extract all the countries containing the word land.

In [11]:
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
]

for country in countries:
    if 'land' in country:
        print(country)

Finland
Iceland
Ireland
Marshall Islands
Netherlands
New Zealand
Poland
Solomon Islands
Swaziland
Switzerland
Thailand

### 2. This is a fruit list, ['banana', 'orange', 'mango', 'lemon'] reverse the order using loop

In [12]:
fruit_list = ['banana', 'orange', 'mango', 'lemon']
for i in range(len(fruit_list)-1,-1,-1):
    print(fruit_list[i])

lemon
mango
orange
banana

### 3. Go to the data folder and use the countries_data.py file.

In [ ]:
from country_data import countries_data

### i. What are the total number of languages in the data

In [ ]:
language_count = 0
for i in range(len(countries_data)):
    language_count += len(countries_data[i]['languages'])
print(language_count)

### ii. Find the ten most spoken languages from the data

In [ ]:
for i in range(10):
    print(sorted_pop[i])
    
sorted_pop[:10]
print(f"most populated countries in the world with their populations: {sorted_pop[:10]} ")

### iii. Find the 10 most populated countries in the world

In [ ]:
population = {}
for i in range(len(countries_data)):
    keys = countries_data[i]['name']
    values = countries_data[i]['population']
    population[keys] = values
print(f"Countries populations: {population}")
sorted_pop = sorted(population.items(), key= lambda x:x[1],reverse=True)