# Day 5: 30 Days of python programming

# Exercises: Level 1

### 1. Declare an empty list

In [ ]:
list1 = list()
list2 = []
print(list1, list2)

### 2. Declare a list with more than 5 items

In [ ]:
Names = ['Bello','Mustapha','Adam','Addau',"Abba",'Zahra','Fadimat']

### 3. Find the length of your list

In [ ]:
Length_of_the_list = len(Names)
print(f'The length of the list is {Length_of_the_list}')

### 4. Get the first item, the middle item and the last item of the list

In [ ]:
first_item =  Names[0] 
middle_item =  Names[int(len(top)/2)] 
last_item =  Names[-1]  
print(f'The first, middle and last items in the list are {first_item},{middle_item} and {last_item} respectively ')

### 5. Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

In [ ]:
mixed_data_types = ['Adam', 24, 1.80,'Single','Kano']

### 6. Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [ ]:
IT_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

### 7. Print the list using print()

In [ ]:
print(IT_companies)

### 8. Print the number of companies in the list

In [ ]:
print(len(IT_companies))

### 9. Print the first, middle and last company

In [ ]:
first_company = IT_companies[0]
middle_company = IT_companies[len(IT_companies)//2]
last_company = IT_companies[-1]
print(first_company,
      middle_company,
      last_company
      )

### 10. Print the list after modifying one of the companies

In [ ]:
IT_companies[0] = 'Blackberry'
print(IT_companies)

### 11. Add an IT company to it_companies

In [ ]:
IT_companies.insert(0,'Google')
print(IT_companies)

### 12. Insert an IT company in the middle of the companies list

In [ ]:
IT_companies.insert(len(IT_companies)//2,'Zipline')
print(IT_companies)

### 13. Change one of the it_companies names to uppercase (IBM excluded!)

In [ ]:
IT_companies[0] = IT_companies[0].upper()
print(IT_companies)

### 14. Join the it_companies with a string '#; '

In [ ]:
'#;  '.join(IT_companies)

### 15. Check if a certain company exists in the it_companies list.

In [ ]:
'Facebook' in IT_companies

### 16. Sort the list using sort() method

In [ ]:
IT_companies.sort() 
print(IT_companies)

### 17. Reverse the list in descending order using reverse() method

In [ ]:
IT_companies.reverse() 
print(IT_companies)

### 18. Slice out the first 3 companies from the list

In [ ]:
IT_companies[:3]

### 19. Slice out the last 3 companies from the list

In [ ]:
IT_companies[-3:]

### 20. Slice out the middle IT company or companies from the list

In [ ]:
IT_companies[len(IT_companies)//2:len(IT_companies)//2+1]

### 21. Remove the first IT company from the list

In [ ]:
IT_companies.pop(0)
IT_companies

### 22. Remove the middle IT company or companies from the list

In [ ]:
IT_companies.pop(int(len(IT_companies)/2))

### 23. Remove the last IT company from the list

In [ ]:
IT_companies.pop()

### 24. Remove all IT companies from the list

In [ ]:
IT_companies.clear()
IT_companies

### 26. Join the following lists:
### -front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
### -back_end = ['Node','Express', 'MongoDB']

### 27. After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack. Then insert Python and SQL after Redux.

In [ ]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

front_end.extend(back_end)
print(front_end)

### Full_Stack

In [ ]:
full_stack = front_end.copy() 
full_stack.index('Redux')

### Insert Python and SQL after Redux

In [ ]:
full_stack.insert(5,'Python') 
full_stack.insert(full_stack.index('Python')+1,'SQL')
full_stack

# Exercises: Level 2

### 1. The following is a list of 10 students ages:
### ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

### -Sort the list and find the min and max age

In [ ]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(ages)
min_age = min(ages)
max_age = max(ages)
print(f'The minimum age is {min_age} and the maximum age is {max_age} ')

### -Add the min age and the max age again to the list

In [ ]:
ages.extend([19,26])

### -Find the median age (one middle item or two middle items divided by two)

In [ ]:
ages.sort()
ages_length = len(ages)
len(ages)
print(ages[int(len(ages)/2-1)],ages[int(len(ages)/2)]) 

if ages_length % 2 == 0:
  cond1 = ages[ages_length//2]
  cond2 = ages[ages_length//2-1]
  median_age = (cond1 + cond2)/2

else: 
  median_age = ages[ages_length//2]
print(f'The median age of the ages is {median_age}')

### Find the average age (sum of all items divided by their number )

In [ ]:
average = sum(ages)/len(ages) 
print(f'The average age is {average}')

### Find the range of the ages (max minus min)

In [ ]:
rng = max(ages) - min(ages) 
print(f'The range of the ages is {rng}')

### Compare the value of (min - average) and (max - average), use abs() method

In [ ]:
abs(min(ages) - average) == abs(max(ages)- average)

### 2. Find the middle country(ies) in the countries list

In [ ]:
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
]
countries.sort()
countries_length = len(countries)

if countries_length % 2 == 0:
  cond1 = countries[countries_length//2]
  cond2 = countries[countries_length//2-1]
  middle_country = (cond1 , cond2)

else: 
  middle_country = countries[countries_length//2]
print(f'The mid country in the countries list is {middle_country}')

mid_country = countries[len(countries)//2]
print(f'The middle country in the list is {mid_country} ')

### 3. Divide the countries list into two equal lists if it is even if not one more country for the first half.

In [ ]:
countries_length = len(countries) 
first_half = countries[:countries_length//2]
second_half = countries[countries_length//2:]
first_half_length = len(first_half)
second_half_length = len(second_half)

print(f'The length of the two halves are {first_half_length} and {second_half_length} ')

### 4. ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the first three countries and the rest as scandic countries

In [ ]:
CH,RU,US,*scandic = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
scandic
print(f'The scandic countries in the last list given are {scandic}')