# Day 7: 30 Days of python programming

# Exercises: Level 1

### 1. Find the length of the set it_companies

In [ ]:
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
Age = [22, 19, 24, 25, 26, 24, 25, 24]
print('Length of it_companies set: ', len(IT_companies))

### 2. Add 'Twitter' to it_companies

In [ ]:
IT_companies.add('Twitter')
print(IT_companies)

### 3. Insert multiple IT companies at once to the set it_companies

In [ ]:
IT_companies.update(['Samsung','Huawei','Nokia','LG'])
print(IT_companies)

### 4. Remove one of the companies from the set it_companies

In [ ]:
IT_companies.remove('Samsung')

### 5. What is the difference between remove and discard

# Exercises: Level 2

### 1. Join A and B

In [ ]:
print('Joining A and B: ', A.union(B))

### 2. Find A intersection B

In [ ]:
print('Intersection of A and B: ', A.intersection(B))

### 3. Is A subset of B

In [ ]:
print('A is a subset of B : ', A.issubset(B))

### 4. Are A and B disjoint sets

In [ ]:
print('A and B are disjoint: ', A.isdisjoint(B))

### 5. Join A with B and B with A

In [ ]:
print('A with B: ', A.union(B))
print('B with A: ', B.union(A))

### 6. What is the symmetric difference between A and B

In [ ]:
print('Symmetric difference of A and B: ',A.symmetric_difference(B))

### 7. Delete the sets completely

In [ ]:
del A
del B
print(B)

# Exercises: Level 3

### 1. Convert the ages to a set and compare the length of the list and the set, which one is bigger?

In [ ]:
age = [22, 19, 24, 25, 26, 24, 25, 24] 
age_st = set(age)
print('age_set is smaller than age(the list): ', len(age_st) < len(age))

### 2. Explain the difference between the following data types: string, list, tuple and set

### 3. I am a teacher and I love to inspire and teach people. How many unique words have been used in the sentence? Use the split methods and set to get the unique words

In [ ]:
sentence = 'I am a teacher and I love to inspire and teach people'
print('Unique words in the sentence: ',set(sentence.split()))
print('The number of unique words in the sentence:' , len(set(sentence.split())))